BuildingEscape/Content/StarterContent/
*/Intermediate/
*/Saved/
*/Source/
*.VC.db
*.VC.opendb

*/Binaries/
BuildingEscape 4.14/Content/StarterContent/Architecture/Floor_400x400.uasset
BuildingEscape 4.14/Content/StarterContent/Textures/T_Brick_Clay_New_D.uasset
BuildingEscape 4.14/Content/
